<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to MovieWeb!</h1>
      <div class="links">
        <a href="{{ url_for('list_users') }}">Show all users</a>
        <a href="{{ url_for('add_user') }}">Add new user</a>
      </div>
      {% if success_message %}
        <p class="message">{{ success_message }}</p>
      {% endif %}
    </div>
  </body>
</html>