<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Home - MovieWeb App</title>
  </head>
  <body>
      <h1>Home</h1>
  <a href="{{ url_for('list_users') }}">Show all users</a>
      <br><br>
  <a href="{{ url_for('add_user') }}">Add new user</a>
      <br><br>
    {% if success_message %}
      <p>{{ success_message }}</p>
    {% endif %}

  </body>
</html>