<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User favourites - MovieWeb App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_user_favourites.css') }}">
  </head>
  <body>

    <div class="list-movies-title">
      <h1>{{ user.name }}'s Movie Favourites</h1>
      {% if action_result %}
        <p>{{ action_result }}</p>
      {% endif %}
      <a href="{{ url_for('add_movie_to_user', user_id=user.id) }}" class="add-movie-link">Add new movie</a>
      <br><br>
      <div class="navigation">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('list_users') }}">Back to Users</a>
      </div>
    </div>

    <div>
      <div class="movie-grid">
        {% for movie in user_movies %}
          <div class="movie">
            <img src="{{ movie.poster_url }}" alt="Poster for {{ movie.title }}">
            <div class="movie-title">{{ movie.title }}</div>
            <div class="movie-year">{{ movie.director }} ({{ movie.publication_year }})</div>
            <div class="movie-rating">
              {% if movie.rating %}
                {{ movie.rating }}/10
              {% else %}
                No rating available
              {% endif %}
            </div>

            <div class="movie-actions">
              <form method="POST" action="{{ url_for('remove_movie_from_user', user_id=user.id, movie_id=movie.id) }}">
                <button type="submit">Delete</button>
              </form>
              <form method="GET" action="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}">
                <button type="submit">Update</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

  </body>
</html>