<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>User favourites - MovieWeb App</title>
  </head>
<body>
    <div class="list-movies-title">
        <h1>{{ user.name }}'s movie app</h1>
            {% if action_result_add_movie %}
                <p>{{ action_result_add_movie }}</p>
            {% endif %}
        <br><br>
          <a href="{{ url_for('add_movie_to_user', user_id=user_id) }}">Add new movie to the userlist</a>
        <br><br>
          <a href="{{ url_for('home') }}">Home</a>
    <br><br>
    </div>
    <div>
        <ol class="movie-grid">
            {% for movie in user_movies %}
        <li>
            <div class="movie">
                <img class="movie-poster" src="{{ movie.poster_url }}" alt="Poster {{ movie.title }}">
                <div class="movie-title">{{ movie.title }}</div>
                <div class="movie-year">{{ movie.director }}</div>
                <div class="movie-year">{{ movie.publication_year }}</div>
                {% if movie.rating is none %}
                    <div class="movie-year">No rating available</div>
                {% else %}
                    <div class="movie-year">{{ movie.rating }}/10</div>
                {% endif %}

                <form method="POST" action="{{ url_for('remove_movie_from_user', user_id=user.id, movie_id=movie.id) }}">
                    <button type="submit">Delete</button>
                </form>
                <form method="GET" action="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}">
                    <button type="submit">Update</button>
                </form>
                <br>
            </div>
        </li>
            {% endfor %}
        </ol>
    </div>
</body>
</html>

